.App {
	text-align: center;
	&-header {
		background-color: rgba($color: #fff, $alpha: 0.8);
		height: 100px;
		@media screen and (max-width: 600px) {
			height: 80px
		}
		width: 100%;
		position: fixed;
		top: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-size: calc(10px + 1.2vmin);
		color: #333;
		z-index: 100;
		&-title {
			margin: 0;
		}
	}
	&-main {
		box-sizing: border-box;
		min-height: 100vh;
		padding: 110px 80px;
		@media screen and (max-width: 600px) {
			padding: 90px 10px 50px;
		}
		&-loading {
			height: 100vh;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			transform: translate(0, -100px);
			@media screen and (max-width: 600px) {
				transform: translate(0, -80px);
			}
		}
	}
}




