.prefecture {
	&-title {
		text-align: left;
		color: #333;
		font-size: calc(8px + 2vmin);
	}
	&-list {
		list-style: none;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		&-item {
			margin-right: 10px;
			& input,
			& label {
				cursor: pointer;
				user-select: none;
			}
		}
	}
}
